body {
  background: #f9e933;
  font-size: 100%;
  min-width: 855px;
  margin: auto;
}

.content {
  max-width: 855px;
  margin: auto;
  overflow: auto;
}

.header_logo, .main_text, .contact {
  float: left;
  max-width: 570px;
}

.header_nav_panel, .image, .sitemap {
  float: right;
  max-width: 285px;
}

header, main {
  background: white;
}

.header_logo h1, .header_nav_panel nav {
  margin: 10px;
}

.header_logo h1 {
  font-size: xx-large;
}

.main_text h2, .main_text h3, .main_text p, .main_text li {
  margin: 10px;
}

.main_text h2, .main_text h3 {
  font-size: x-large;
}

.main_text ul {
  list-style: circle inside;
}
