body {
  background: #f9e933;
  font-size: 100%;
}

header, main, footer {
  min-width: 855px;
}

.content {
  max-width: 855px;
  margin: auto;
  overflow: auto;
}

.header_logo, .contact {
  float: left;
  max-width: 570px;
}

.header_nav_panel, .sitemap {
  float: right;
  max-width: 285px;
}

header, main {
  background: white;
}

.header_logo, .header_nav_panel{
  padding: 10px;
}

.header_logo h1 {
  font-size: xx-large;
}

.contact h5, .sitemap h5, .address {
  margin: 10px;
}

.sitemap {
  overflow: auto;
}

.sitemap_references_left {
  float: left;
  max-width: 100px;
  margin: 10px;
}

.sitemap_references_right {
  float: right;
  max-width: 185px;
  margin: 10px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}